[Unit]
Description=WiFi Monitor and Auto-Connect Script
After=multi-user.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/run
ExecStart=/home/pi/run/wifimonitor.sh

[Install]
WantedBy=default.target
