[Unit]
Description=WiFi Monitor Script
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/linaro/run
ExecStart=/home/linaro/run/wifimonitor.sh

[Install]
WantedBy=multi-user.target