[Unit]
Description=WiFi Monitor and Auto-Connect Script
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/run
ExecStart=/home/pi/run/wifimonitor.sh

[Install]
WantedBy=multi-user.target
