[Unit]
Description=WiFi Monitor Script
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/linaro/MSM/tinkerboard/run
ExecStart=/home/linaro/MSM/tinkerboard/run/wifimonitor.sh

[Install]
WantedBy=multi-user.target